<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="FsCheck" version="2.7.1" targetFramework="net452" />
  <package id="FSharp.Control.AsyncSeq" version="2.0.10" targetFramework="net452" />
  <package id="FSharp.Core" version="4.1.0" targetFramework="net452" />
  <package id="FSharpx.Async" version="1.13.0" targetFramework="net452" />
  <package id="FSharpx.Collections" version="1.15.2" targetFramework="net452" />
  <package id="FSharpx.Extras" version="2.2.1" targetFramework="net452" />
  <package id="FsXaml.Wpf" version="3.1.2" targetFramework="net452" />
  <package id="SharpSvn.1.9-x64" version="1.9005.3934.166" targetFramework="net452" />
  <package id="System.ValueTuple" version="4.3.0" targetFramework="net452" />
</packages>